body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0
}

* {
  box-sizing: border-box;
}

.boton-rojo {
  background-color: red;
  height: 30px;
  border: none;
  border-radius: 10px;
  width: 100px;
  align-self: center
}

.boton-azul {
  background-color: blue;
  height: 30px;
  border: none;
  border-radius: 10px;
  width: 100px;
  align-self: center
}



footer {
  background-color: pink;
  height: 100px;
}

section {
  display: flex;  
}
